@model SitefinityWebApp.Mvc.Models.PopularTours.PopularToursViewModel
<div class="row">
    @{
        var count = 0;
        string[,] colors = { {"0","0"}, { "#ffb900", "#ff7730" }, { "#7ed56f", "#28b485" }, { "#2998ff", "#5643fa" } };
       

        foreach (var item in @Model.PopularToursItems)
        {
            count = count + 1;
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--@count" style="background-image: linear-gradient(to right bottom, @colors[@count,0], @colors[@count,1]),url('@item.ImageUrl')">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--@count">@item.Title</span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>@item.NoOfDays day tours</li>
                                <li>Up to @item.SizeOfTour people</li>
                                <li>@item.NoOfTourGuides tour guides</li>
                                <li>Sleep in @item.Accomodation</li>
                                <li>Difficulty: @item.DifficultyTags</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-@count">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">Only</p>
                                <p class="card__price-value">$@item.Price</p>
                            </div>
                            <a href="#popup" class="btn btn--white">Book now!</a>
                        </div>
                    </div>
                </div>
            </div>
        }

        }
    </div>
    

<div class="popup" id="popup">
    <div class="popup__content">
        <div class="popup__left">
            <img src="img/nat-8.jpg" alt="Tour photo" class="popup__img">
            <img src="img/nat-9.jpg" alt="Tour photo" class="popup__img">
        </div>
        <div class="popup__right">
            <a href="#section-tours" class="popup__close">&times;</a>
            <h2 class="heading-secondary u-margin-bottom-small">Start booking now</h2>
            <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Please read these terms before booking</h3>
            <p class="popup__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Sed sed risus pretium quam. Aliquam sem et tortor consequat id. Volutpat odio facilisis mauris sit
                amet massa vitae. Mi bibendum neque egestas congue. Placerat orci nulla pellentesque dignissim enim
                sit. Vitae semper quis lectus nulla at volutpat diam ut venenatis. Malesuada pellentesque elit eget
                gravida cum sociis natoque penatibus et. Proin fermentum leo vel orci porta non pulvinar neque laoreet.
                Gravida neque convallis a cras semper. Molestie at elementum eu facilisis sed odio morbi quis. Faucibus
                vitae aliquet nec ullamcorper sit amet risus nullam eget. Nam libero justo laoreet sit. Amet massa
                vitae tortor condimentum lacinia quis vel eros donec. Sit amet facilisis magna etiam. Imperdiet sed
                euismod nisi porta.
            </p>
            <a href="#" class="btn btn--green">Book now</a>
        </div>
    </div>
</div>
